@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

:root{
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.outer-wrap{
    width:100%;
    min-height: 100vh;
    background-color: #F5F7FA;
    padding: 30px;
}

.inner-wrap{
    max-width: 1200px;
    margin: auto;
}

.heading{
    margin: 30px auto;
}

.heading .title{
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    text-align: center;
}

.heading .subtitle{
    font-size: 20px;
    color: #000000;
    font-weight: 300;
    text-align: center;
}

.categories{
    margin: 10px 0px 50px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categories span{
    padding: 10px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    margin: 5px;
}

.categories span:hover{
    background-color: #EAEBEF;
}

.categories span.active{
    background-color: #0D479A !important;
    color: white;
}

.card{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 20px auto;
    display: flex;
}

.card .image{
    margin: auto;
}

.card .image img{
    max-width: 300px;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.card .info{
    flex-grow: 1;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.card .title{
    font-size: 20px;
    font-weight: 500;
    color: #1A1C20;
}

.card .description{
    color: #5D5F63;
    margin: 5px 0px;  
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;
}

.card .time{
    color: #5D5F63;
}

.card .other{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.card .source{
    background-color: #2666CF;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.card .url{
    background-color: #04AA6D;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    cursor: pointer;
}

@media (max-width: 800px) {
    .card{
        flex-wrap: wrap;
    }
    .card .info{
        margin-left: 0px;
    }
    .card .description{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;  
        -webkit-box-orient: vertical;
    }
}

@media (max-width:380px){
    .card .image img{
        max-width: 100%;
    }
    .card{
        flex-wrap: wrap;
    }
    .card .info{
        margin-left: 0px;
        width: 90%;
    }
    .card .source {
        font-size: 10px;
    }
    .card .other a{
        font-size: 10px;
        padding: 0 10px;
    }
    .card .description{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;  
        -webkit-box-orient: vertical;
    }
}